#cv {
	position: relative;
	&::after {
		content: " ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 100vw 80px 0;
		border-color: transparent $colorBackgroundPale transparent transparent;
		position: absolute;
		bottom: -79px;
		left: 0;
		z-index: 10;
	}
	.flex {
		display: flex;
	}

	.flex > * {
		padding: 1.5rem;
		&:first-child {
			padding-left: 0px;
		}
		&:last-child {
			padding-right: 0px;
		}
	}
	h3 {
		border-bottom: 1px solid $colorTexte;
	}

	/* -------------------aside----------------- */

	aside {
		min-width: 240px;

		ul {
			margin-left: 1.5rem;
		}
	}
}
@media (max-width: 1000px) {
	.flex {
		flex-direction: column-reverse;
	}
}
