#note {
	background-color: yellowgreen;
	padding: 20px;
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	z-index: 1000;
	opacity: 0;

	p {
		margin: 15px 0;
		position: relative;
		&:before {
			content: "- ";
			position: absolute;
			left: -10px;
		}
	}
}

#noteLogo {
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 100000;
	width: 35px;
	fill: #fff;
	&:hover + #note {
		opacity: 0.8;
	}
}

.note {
	opacity: 0.5;
}

#qualityLogo {
	position: fixed;
	top: 5px;
	right: 50px;
	z-index: 100000;
	width: 35px;
	fill: #fff;
	&:hover + #quality {
		opacity: 0.8;
	}
}

#quality {
	background-color: pink;
	padding: 20px;
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	z-index: 1000;
	opacity: 0;
}
