#presentation {
	background-color: $colorBackgroundEmphase2;
	position: relative;
	&::after {
		content: " ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 100vw 80px 0;
		border-color: transparent $colorBackgroundEmphase2 transparent transparent;
		position: absolute;
		transform: scaleX(-1);
		bottom: -79px;
		left: 0;
		z-index: 10;
	}
	* {
		color: $colorBackgroundPale;
	}
	h2 {
		border: none;
		margin-bottom: 2rem;
		&::after,
		&::before {
			content: " - ";
		}
	}
	a {
		//text-decoration: none;
		//opacity: 0.6;
		//position: relative;
		//@at-root: uppercase;
		font-weight: bold;
		text-decoration-line: 2px;
		color: $colorEmphasePale;

		/*&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -4px;
			height: 1px;
			background-color: $colorBackgroundPale;
			transition: all 0.2s ease-out;
		}
		&:hover {
			&::after {
				bottom: -2px;
				height: 2px;
			}
		}*/
	}
}
