$colorBackgroundEmphase: #270512;
$colorBackgroundEmphase2: #450920;
$colorEmphase: #a53860;
$colorBackgroundPale: #fcecdd;
$colorBackgroundPale: #fce2dd;
$colorTexte: #333;

/*$colorBackgroundEmphase: #011a24;
$colorBackgroundEmphase2: #022b3a;
$colorEmphase: #368f8b;
$colorBackgroundPale: #fcecdd;
$colorTexte: #333;
*/
